{% extends "components/base.html" %} {% block main %}

    <section id="company" class="company">
        <div class="image"></div>
        <div class="text">
<h2>Nike - Совершенство в каждом шаге</h2>
<p>
    Откройте для себя новое измерение комфорта и стиля с кроссовками Nike. Наши кроссовки сочетают в себе инновационные технологии и безупречный дизайн, чтобы каждый ваш шаг был легким и уверенным. Ощутите разницу с Nike.
</p>
<button>Узнать больше</button>

        </div>
    </section>

{% endblock main %}